<mat-drawer-container (backdropClick)="toggleDrawer()">
  <mat-drawer
    [mode]="isDesktop ? 'side' : 'over' "
    [opened]="isOpened"
    class="base-drawer"
  >
    <div *ngIf="headerTitle" class="drawer-header">
      <span>{{ headerTitle }}</span>
      <button *ngIf="headerIcon" mat-icon-button (click)="headerButtonClicked()">
        <mat-icon>{{ headerIcon }}</mat-icon>
      </button>
    </div>

    <ng-content *ngIf="!headerTitle" select=".nav-header" ngProjectAs="div"></ng-content>

    <mat-progress-spinner
      *ngIf="loading"
      class="spinner drawer-spinner"
      mode="indeterminate">
    </mat-progress-spinner>

    <ng-content select=".nav-links" ngProjectAs="div"></ng-content>
  </mat-drawer>

  <mat-drawer-content
    style="height: 100%;"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
