<div #wrapper class="nav-drawer-wrapper mat-primary">
  <div class="drawer-header"
    gdAreas="menuBtn title moduleBtn"
    gdRows="100%"
    gdColumns="20% 60% 20%"
  >
    <button 
      mat-flat-button
      fxLayout="row"
      fxLayoutAlign="center center"
      gdArea="menuBtn"
      gdGridAlign="start center"
      color="primary"
      (click)="toggleDrawer()"
    >
      <mat-icon *ngIf="!isOpened" svgIcon="hamburger"></mat-icon>
      <span *ngIf="!isOpened">MENU</span>

      <mat-icon *ngIf="isOpened" class="close-icon">close</mat-icon>
      <span *ngIf="isOpened">CLOSE</span>
    </button>

    <span gdArea="title" gdGridAlign="center center">
      {{ headerTitle }}
    </span>

    <div class="module-button"
      gdArea="moduleBtn"
      gdGridAlign="end center"
    >
      <ng-content select=".header-button"></ng-content>
    </div>
  </div>

  <div class="drawer-links-wrapper">
    <div class="drawer-links">
      <bl-nav-drawer-link
        *ngFor="let link of links"
        [link]="link"
        (click)="toggleDrawer()"
      >
      </bl-nav-drawer-link>
    </div>
  </div>

  <div class="content-wrapper" [ngStyle]="contentPosition" #content>
    <div class="content mat-app-background">
      <ng-content></ng-content>
    </div>
  </div>

</div>
