@import 'variables';
@import 'mixins';

.sidenav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: $sidenav-width;
  height: 100vh;
  position: fixed;
  background-color: $dark-grey;
  z-index: 1501;

  @include tablet-and-down {
    border-right: 2px solid #2196f3;
  }

  @include mobile-and-down {
    flex-flow: row nowrap;
    justify-content: center;
    height: 62px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.toggle-menu-btn {
  color: white;
  background: $primary;
  width: $sidenav-width;
  padding: 0;
  border-radius: 0;

  @include mobile-and-down {
    height: $sidenav-width * 0.5;
    width: 20vw;
    min-width: 20vw;
    padding: 0;

    span {
      display: flex !important;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.menu-toggle-icon {
  @include mobile-and-down {
    font-size: 2em;
    margin-top: -16px;
  }
}

.menu-toggle-label {
  margin-left: 6px;

  @include mobile-and-down {
    font-size: 1em;
    height: 18px;
    margin-top: -8px;
    font-weight: 400;
  }
}

.setting-button {
  margin-top: auto;
}
