<div class="task-item"
  draggable
  droppable
  [dragData]="task"
  [dragHandle]="'.task-drag'"
  [dropScope]="isDropAllowed"
  [dragClass]="'being-dragged'"
  [dragTransitClass]="'drag-clone'"
  [dragOverClass]="'drag-hover'"
  [dragHintClass]="'allowed-drop'"
  (onDrop)="onDrop($event)"
>
  <div *ngIf="!isEditing" class="task-details">
    <mat-icon *ngIf="!task?.completed" class="task-drag">drag_indicator</mat-icon>

    <button *ngIf="task?.children.length" mat-icon-button class="task-show" (click)="showChildren = !showChildren">
      <mat-icon
        class="toggle-children-button"
        [ngClass]="{ 'show-children': showChildren }"
        color="primary">
        keyboard_arrow_right
      </mat-icon>
    </button>

    <button mat-icon-button class="task-check" (click)="toggleTask()">
      <mat-icon *ngIf="!task.completed" color="primary">check_box_outline_blank</mat-icon>
      <mat-icon *ngIf="task.completed" color="primary">check_box</mat-icon>
    </button>

    <span [ngClass]="{ 'task-text': true, 'editable': !task.completed }"
      [ngStyle]="{ 'text-decoration': task.completed ? 'line-through' : '' }"
      (click)="editTask()">
      {{ task.text }}
      <span class="task-edit-label">Click To Edit</span>
    </span>

    <span class="task-estimate" matTooltip="Time Estimate" matTooltipShowDelay="500">
      <mat-icon>access_time</mat-icon>{{ getTotalEstimate() }}
    </span>

    <button
      *ngIf="!confirmDelete && !showCompleted && (task?.children && task?.children?.length >= 0)"
      mat-icon-button
      matTooltip="Create Child Task"
      matTooltipShowDelay="500"
      class="task-add"
      (click)="this.showNewTask = !this.showNewTask">
      <mat-icon *ngIf="!showNewTask" color="primary">add_circle_outline</mat-icon>
      <mat-icon *ngIf="showNewTask" color="primary">add_circle</mat-icon>
    </button>

    <button
      *ngIf="!confirmDelete"
      mat-icon-button
      class="task-delete"
      matTooltip="Delete Task"
      matTooltipShowDelay="500"
      (click)="handleDelete()">
      <mat-icon color="warn">delete</mat-icon>
    </button>

    <button *ngIf="confirmDelete" mat-button color="warn" (click)="deleteTask()" class="task-confirm-delete">
      Confirm? <mat-icon color="white">delete</mat-icon>
    </button>
  </div>

  <div *ngIf="isEditing" class="task-edit-wrapper">
    <button mat-icon-button class="task-show" disabled>
      <mat-icon class="toggle-children-button show-children">
        keyboard_arrow_right
      </mat-icon>
    </button>

    <button mat-icon-button class="task-check" disabled>
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>

    <mat-form-field appearance="standard" class="task-edit-text">
      <input matInput #editInput placeholder="Task Text" [(ngModel)]="editText">
    </mat-form-field>

    <bl-duration-picker
      [showLabel]="false"
      class="task-estimate"
      [estimate]="this.task.estimate"
      (handleDuration)="editDuration($event)">
    </bl-duration-picker>

    <button mat-icon-button
      class="task-edit"
      color="primary"
      (click)="confirmEditTask()">
      <mat-icon color="primary">check</mat-icon>
    </button>

    <button mat-icon-button
      class="task-cancel-edit"
      color="warn"
      (click)="isEditing = !isEditing">
      <mat-icon color="warn">close</mat-icon>
    </button>
  </div>

  <div class="new-task" *ngIf="showNewTask">
    <bl-new-task class="new-task" [selectedProject]="project?.id" [parent]="task?.id"></bl-new-task>
  </div>

  <div *ngIf="task?.children && showChildren" class="task-item-children">
    <bl-task-list-item
      *ngFor="let child of task.children"
      [task]="child"
      [project]="project"
      [parent]="task?.id"
      [showCompleted]="showCompleted">
    </bl-task-list-item>
  </div>

</div>
